<h1>Editing priority boosting</h1>

<%= render "form", priority_boosting: @priority_boosting %>

<br>

<div>
  <%= link_to "Show this priority boosting", @priority_boosting %> |
  <%= link_to "Back to priority boostings", vendor_service_boostings_path %>
</div>
