<h1>Editing topic category</h1>

<%= render "form", topic_category: @topic_category %>

<br>

<div>
  <%= link_to "Show this topic category", admin_topic_category_path(@topic_category) %> |
  <%= link_to "Back to topic categories", admin_topic_categories_path %>
</div>
