<div id="<%= dom_id topic_category %>">
  <p>
    <strong>Name:</strong>
    <%= topic_category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= topic_category.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag topic_category.image.variant(:thumb) if topic_category.image.attached? %>
  </p>

</div>
