<% if service.published? %>
  <%= link_to unpublish_vendor_service_path(service), data: { turbo_method: :post, turbo_confirm: "Bạn có chắc muốn ẩn dịch vụ này?" }, class: "peer text-base text-gray-500 hover:text-indigo-500" do %>
    <%= inline_svg_tag "svg/lock-keyhole.svg", size: "18" %>
  <% end %>
  <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
    Ẩn dịch vụ
  </span>
<% else %>
  <%= link_to publish_vendor_service_path(service), data: { turbo_method: :post, turbo_confirm: "Bạn có chắc muốn công khai dịch vụ này?" }, class: "peer text-base text-gray-500 hover:text-indigo-500" do %>
    <%= inline_svg_tag "svg/lock-keyhole-open.svg", size: "18" %>
  <% end %>
  <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
    Công khai dịch vụ
  </span>
<% end %>