<div id="<%= dom_id common_question %>">
  <p>
    <strong>Question:</strong>
    <%= common_question.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= common_question.answer %>
  </p>

</div>
