<h2>New common question</h2>
<%= render "form", path: vendor_service_questions_path(@service), method: :post,
                    question: CommonQuestion.new(service_id: @service.id) %>

<%= link_to "Quay lại trang chi tiết dịch vụ", vendor_service_path(@service) %>
<p>-------------</p>

<h1>Common questions</h1>

<div id="common_questions">
  <% @common_questions.each do |common_question| %>
    <%= turbo_frame_tag dom_id common_question, "detail" do %>
      <%= render common_question %>
    <% end %>
  <% end %>
</div>
