<div class="flex justify-center md:pt-6">
  <div class="w-full md:w-[696px] flex flex-col gap-4 mb-6">
    <div class="p-6 bg-white rounded shadow">
      <div class="space-y-4">
        <h3 class="text-2xl font-semibold">Thêm câu hỏi (FAQ) mới</h3>

        <%= render "form", path: vendor_service_questions_path(@service), method: :post,
                    question: CommonQuestion.new(service_id: @service.id) %>
      </div>
    </div>

    <div class="p-6 bg-white rounded shadow">
      <h3 class="text-2xl font-semibold mb-4">Các câu hỏi hiện có</h3>

      <div id="common_questions" class="flex flex-col gap-5">
        <%= render @common_questions %>
      </div>
    </div>
  </div>
</div>
