<div id="<%= dom_id topic %>">
  <p>
    <strong>Name:</strong>
    <%= topic.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= topic.description %>
  </p>

  <p>
    <strong>Topic category:</strong>
    <%= topic.topic_category_id %>
  </p>

</div>
