<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% breadcrumbs.each do |crumb| %>
      <% if crumb[:path] %>
        <li class="breadcrumb-item">
          <%= link_to crumb[:name], crumb[:path] %>
        </li>
      <% else %>
        <li class="breadcrumb-item active" aria-current="page"><%= crumb[:name] %></li>
      <% end %>
    <% end %>
  </ol>
</nav>
