<nav aria-label="breadcrumb" class="mb-6">
  <ol class="flex items-center text-sm text-[#6c6c6c] overflow-ellipsis">
    <% breadcrumbs.each do |crumb| %>
      <% if crumb[:path] %>
        <li>
          <%= link_to crumb[:name], crumb[:path], class: "hover:text-[#FCB796]" %>
        </li>
        <p class="px-2 text-xs">/</p>
      <% else %>
        <li class="breadcrumb-item active" aria-current="page"><%= crumb[:name] %></li>
      <% end %>
    <% end %>
  </ol>
</nav>
