<div id="turbo-flash" data-turbo-temporary class="flash">
  <% flash.each do |key,value| %>
    <div class="animation-fadeInDown flash__body <%= "flash__body--#{key}" %>" data-controller="flash">
      <%= value.html_safe %>
    </div>
  <% end %>
</div>
