<footer class="bg-gray-100 py-8 ">
  <div class="container max-w-screen-2xl mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="text-gray-600">© 2024 The Vista Wedding.</div>
    </div>
  </div>
</footer>
