<div class="avatar">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="xMidYMin slice">
    <circle fill="<%= defined?(bg_color) ? bg_color : "#9AAAB0" %>" cx="100" cy="100" r="100"></circle>
    <text transform="translate(100,130)" y="0">
      <tspan font-size="<%= defined?(font_size) ? font_size : "90" %>" class="" fill="rgba(255,255,255,1)" text-anchor="middle"><%= text %></tspan>
    </text>
  </svg>
</div>
