<div id="<%= dom_id spending %>">
  <p>
    <strong>Vendor:</strong>
    <%= spending.vendor_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= spending.amount %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= spending.kind %>
  </p>

</div>
