<div id="<%= dom_id transaction %>">
  <p>
    <strong>ID:</strong>
    <%= transaction.id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= number_to_currency transaction.amount, unit: "đ", precision: 0, format: "%n %u" %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

</div>
