<%= turbo_frame_tag "service_addresses_frame" do %>
<h1>New address</h1>

<%= render "form", address: @address, service: @service %>

<div>
  <%= link_to "Back to addresses", vendor_service_addresses_path(params[:service_id]) %>
</div>
<% end %>
