<h1>Categories</h1>
<%= link_to "New category", new_admin_category_path %>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", admin_category_path(category) %>
    </p>
  <% end %>
</div>
