/*!
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

@import "tailwindcss.css";
@import "actiontext.css";
@import "direct_upload.css";
@import "pagy.css";

/* default style */
:root,
::backdrop {
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898ea4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #fd3;
  --disabled: #efefef;

  font-family: Poppins, var(--sans-font);
}

/* custom style */
.turbo-progress-bar {
  height: 5px;
  background-color: green;
}

[data-controller="dropdown"] {
  @apply inline-block relative;
}

[data-controller="dropdown"] > [role="button"] {
  @apply cursor-pointer list-none appearance-none;
}

[data-controller="dropdown"] > [role="menu"] {
  @apply absolute right-0 origin-top-right z-10 mt-2 w-48 rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
}

[data-controller="dropdown"]:not([open]) > *:not([role="button"]) {
  display: none;
}

.flash {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 4;
  backface-visibility: hidden;
  filter: blur(0);
  max-width: 90%;
  top: 65px;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

.flash__body {
  padding: 6px;
  text-align: center;
  border-radius: 4px;
}

.flash__body--error,
.flash__body--alert {
  background-color: rgb(166, 22, 55);
  color: rgb(255, 255, 251);
}

.flash__body--success,
.flash__body--notice {
  background-color: rgb(35, 166, 80);
  color: rgb(255, 255, 251);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.animation-fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 0.25s;
}

.animation-fadeOutUp {
  animation-name: fadeOutUp;
  animation-duration: 0.25s;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoom-in 0.2s ease-out;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slide-in-right 0.2s ease-out;
}

.is-invalid:not(label) {
  @apply border-red-500;
}

.listing {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-row-gap: 1rem;
  grid-template-areas:
    "listingHeading"
    "listingArticlesTitle"
    "listingContent"
    "listingSidebar"
    "articlesMoreIdeas";
}
@media (min-width: 1024px) {
  .listing {
    grid-template-columns: minmax(0, 3fr) 300px;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-areas:
      "listingHeading listingHeading"
      "listingArticlesTitle listingArticlesTitle"
      "listingContent listingSidebar"
      "articlesMoreIdeas articlesMoreIdeas";
  }
}
.listing .listingHeading {
  grid-area: listingHeading;
}
.listing .listingArticlesTitle {
  grid-area: listingArticlesTitle;
}
.articleTile__preTitle {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #6c6c6c;
  margin-top: 0.5rem;
}
.articleTile__title {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .articleTile__title {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}

.articleTile__footer {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-top: 0.5rem;
  color: #6c6c6c;
}
.articlesArticleHeading__categoryName {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  grid-area: category;
  color: #6c6c6c;
}
.articlesArticleHeading__category {
  grid-area: categoryTag;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    "tag"
    "category";
  align-items: center;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .articlesArticleHeading__category {
    grid-area: categoryTag;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "category tag";
    grid-template-columns: auto auto 1fr;
  }
}

.articlesArticleHeading__title {
  font-size: 1.625rem;
  line-height: 2.125rem;
  font-family: ProximaNova Condensed, ProximaNovaCondensed-fallback-Arial,
    sans-serif;
  font-weight: 800;
  grid-area: title;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .articlesArticleHeading__title {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
}

.articlesArticleHeading__description {
  grid-area: description;
  font-style: italic;
}
@media (min-width: 768px) {
  .articlesArticleHeading__description {
    margin-bottom: 1rem;
  }
}
.articlesArticleHeading__author {
  grid-area: author;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.articlesArticleHeading__authorImage {
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  margin-right: 0.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.articlesArticleHeading__date {
  display: inline-block;
  margin-right: 1rem;
  color: #8c8c8c;
}
@media (min-width: 768px) {
  .articlesArticleHeading__date {
    white-space: nowrap;
    margin-right: 2rem;
  }
}

.articlesArticleHeading__counters {
  display: inline-block;
  vertical-align: bottom;
}

/* Service Details page */
.storefront {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    "storefrontGallery"
    "storefrontHeaderAside"
    "sectionNavigation"
    "storefrontContent";
}

@media (min-width: 480px) {
  .storefront {
    margin-top: 2rem;
  }
}

@media (min-width: 1024px) {
  .storefront {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(368px, 1fr);
    grid-column-gap: 3rem;
    grid-template-areas:
      "storefrontGallery storefrontHeaderAside"
      "sectionNavigation storefrontHeaderAside"
      "storefrontContent storefrontHeaderAside";
  }
}
@media (min-width: 1024px) {
  .storefront .storefrontHeadingWrap {
    grid-row: -5 / -2;
  }
}

.storefrontHeading {
  grid-area: storefrontHeaderAside;
  margin-top: 1rem;
  top: 2rem;
}

@media (min-width: 1024px) {
  .storefrontHeading--fadein {
    animation: fadein 1.25s;
  }
}
@media (min-width: 1024px) {
  .storefrontHeading--sticky {
    position: sticky;
    height: 0;
    top: 2rem;
  }
  .storefrontHeading--fixed {
    position: fixed;
    height: 0;
    top: 6rem;
  }
}

@media (min-width: 1024px) {
  .storefrontHeading {
    margin-top: 0;
  }
}
.storefrontHeading__titleWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.5rem 0;
}
.storefrontHeading__title {
  font-family: ProximaNova, ProximaNova-fallback-Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media (min-width: 1024px) {
  .storefrontHeading__title {
    font-size: 1.5rem;
  }
}

.storefrontHeading__action {
  display: none;
  margin: 5px 0 0 1.5rem;
}
@media (min-width: 1024px) {
  .storefrontHeading .storefrontHeading__action {
    display: block;
  }
}
.storefrontHeadingReviews {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.storefrontHeading__item {
  display: flex;
  align-items: center;
}
.storefrontHeadingReviews__stars {
  display: inline-flex;
  align-items: center;
}
.storefrontHeadingReviews__starsValue {
  margin-left: 4px;
  font-weight: 500;
}
.storefrontHeadingReviews__stars:after {
  content: "\b7";
  margin: 0 0.5rem;
  font-weight: 600;
}
.storefrontHeadingReviews__count {
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
}
.storefrontHeadingLocation,
.storefrontHeadingWebsite {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  gap: 0.5rem;
}
.storefrontHeadingLocation__label,
.storefrontHeadingWebsite__label {
  text-decoration: underline;
  cursor: pointer;
}

.storefrontHeadingFaqs {
  box-shadow: 0 2px 8px #00000026;
  border-radius: 0.5rem;
}
.storefrontHeadingFaqsCard {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #efefef;
  gap: 1rem;
}

.storefrontHeadingFaqsCard:last-child {
  border-bottom: 0;
}

.storefrontHeadingFaqs > div:first-child {
  margin-top: 20px;
}

.storefrontHeadingFaqs > div:last-child {
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .storefrontHeadingFaqs > div:last-child {
    margin-bottom: 2rem;
  }
}
.storefrontHeadingLeads {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr;
  grid-template-rows: 1fr minmax(0, auto);
  grid-gap: 0.5rem 1rem;
  grid-template-areas:
    "inspireTrust"
    "leadButton";
}
.inspireTrust {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  gap: 10px;
}

.storefrontHeadingLeads .inspireTrust {
  grid-area: inspireTrust;
  padding-bottom: 0;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.69rem 1rem;
  font-weight: 600;
  width: 100%;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid transparent;
}

.button--primary {
  color: #fff;
  background-color: #19b5bc;
  transition: all 0.15s;
  cursor: pointer;
  background-position: center;
}

.button--tertiary {
  color: #222;
  border-color: #d9d9d9;
  transition: all 0.15s;
  cursor: pointer;
  background-position: center;
}
@media (min-width: 480px) {
  .button:not(.button--block) {
    width: auto;
  }
}

.storefrontHeadingLeads .storefrontHeading__lead {
  grid-area: leadButton;
  text-align: center;
}
.storefrontHeadingFooterBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem 0 1rem;
}
.storefrontHeadingVendorFeatures {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sectionNavigation {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  align-items: center;
  position: relative;
  margin-bottom: 1.5rem;
  grid-area: sectionNavigation;
}
@media (min-width: 1024px) {
  .storefrontNavigationStatic {
    margin-top: 0.63rem;
  }
}
.sectionNavigation:after,
.vendorMessage:after,
.layoutHeader:after {
  border-bottom: 1px solid #d9d9d9;
  content: "";
  z-index: 1;
  width: 100vw;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -50vw;
}

.sectionNavigation:after {
  content: "";
  display: block;
  border-bottom: 1px solid #d9d9d9;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-left: 0;
}

.storefrontNavigationStatic:after {
  content: "";
  display: block;
  border-bottom: 1px solid #d9d9d9;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-left: 0;
}

.scrollSnap {
  position: relative;
}

.storefrontNavigationStatic__slider {
  display: block;
}
.scrollSnap__container {
  display: flex;
  flex: none;
  flex-flow: row nowrap;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  overscroll-behavior-x: none;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: -1rem;
}
.scrollSnap__item {
  flex: none;
  box-sizing: content-box;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.storefrontNavigationStatic__item {
  margin: 1rem 0.5rem 1.5rem 0;
}
.storefrontNavigationStatic__anchor {
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d9d9d9;
  color: #222;
}
.storefrontNavigationStatic__count {
  color: #8c8c8c;
}
.storefrontMultiGallery {
  position: relative;
  grid-area: storefrontGallery;
}
.storefrontMultiGallery__content {
  position: relative;
}
.storefrontMultiGallery__actions {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 1rem;
  gap: 0.5rem;
  width: calc(100% - 2rem);
}
.storefrontBackLink {
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 1;
  background: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .storefrontBackLink {
    display: none;
  }
}
.storefrontMultiGallery__favorite {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 0;
  right: 0;
  background: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .storefrontMultiGallery__favorite {
    display: none;
  }
}
.storefrontMultiGallery__scroll {
  display: flex;
  flex: none;
  width: 100%;
  height: auto;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: inherit;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  position: relative;
  overscroll-behavior-x: none;
  scroll-snap-type: x mandatory;
}

@media (min-width: 481px) {
  .storefrontMultiGallery__scroll {
    border-radius: 0.5rem;
  }
}

@media (min-width: 768px) {
  .storefrontMultiGallery__scroll {
    position: relative;
    overflow: hidden;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-gap: 0.25rem;
    height: 368px;
    grid-template-areas:
      "storefrontGalleryImage0 storefrontGalleryImage1 storefrontGalleryImage2"
      "storefrontGalleryImage0 storefrontGalleryImage3 storefrontGalleryImage3";
  }
}

@media screen and (min-width: 1100px) {
  .storefrontMultiGallery__scroll {
    height: 468px;
  }
}
.storefrontMultiGallery__item {
  position: relative;
  text-align: center;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  flex: none;
  max-width: none;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 481px) {
  .storefrontMultiGallery__item {
    margin-right: 2px;
  }
}

@media (min-width: 768px) {
  .storefrontMultiGallery__item {
    display: none;
    margin: 0;
  }

  .storefrontMultiGallery__item--0,
  .storefrontMultiGallery__item--1,
  .storefrontMultiGallery__item--2,
  .storefrontMultiGallery__item--3 {
    display: block;
  }

  .storefrontMultiGallery__item--0 {
    grid-area: storefrontGalleryImage0;
  }
  .storefrontMultiGallery__item--1 {
    grid-area: storefrontGalleryImage1;
  }
  .storefrontMultiGallery__item--2 {
    grid-area: storefrontGalleryImage2;
  }
  .storefrontMultiGallery__item--3 {
    grid-area: storefrontGalleryImage3;
  }
}
.storefrontMultiGallery__item figcaption {
  display: none;
}
@media (min-width: 768px) {
  .storefrontMultiGallery__item picture {
    width: 100%;
    height: 100%;
    display: block;
  }
}
.storefrontMultiGallery__item img {
  display: block;
}

@media (min-width: 481px) {
  .storefrontMultiGallery__item img {
    width: 100%;
    object-fit: cover;
    height: 272px;
  }
}

@media (min-width: 768px) {
  .storefrontMultiGallery__item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.storefrontMultiGallery__button {
  display: none;
  width: auto;
  position: absolute;
  bottom: 16px;
  right: 16px;
  transition: all 0.15s;
}
@media (min-width: 768px) {
  .storefrontMultiGallery__button {
    display: flex;
  }
}
.storefrontMultiGallery__button a {
  padding: 0.5rem 1.5rem;
  margin-left: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #222;
  border-color: #222;
  background-color: #fff;
  transition: all 0.15s;
  cursor: pointer;
  background-position: center;
}
.storefrontMultiGallery__button a span {
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  font-weight: 400;
  color: #6c6c6c;
  padding-left: 5px;
}
.storefront .storefrontContent {
  grid-area: storefrontContent;
}
.storefrontSummary {
  padding-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "description"
    "socialMedia";
}
@media (min-width: 1024px) {
  .storefrontSummary {
    padding-bottom: 3.5rem;
  }
}
.storefrontDescription__title {
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0 0 1rem;
}
.storefrontDescription {
  --lh: 1.5rem;
  --max-lines: 11;
}
.storefrontContent h2 {
  font-family: ProximaNova, ProximaNova-fallback-Arial, sans-serif;
}
.storefrontDescription__timeReferences {
  display: flex;
  justify-content: flex-start;
  color: #6c6c6c;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  flex-direction: column;
  gap: 0.25rem;
}
@media (min-width: 1024px) {
  .storefrontDescription__timeReferences {
    flex-direction: row;
  }
}
.storefrontDescription__timeReferencesIconContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.storefrontDescription__content.truncate-overflow {
  line-height: var(--lh);
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
}
@media (min-width: 1024px) {
  .storefrontDescription__content.truncate-overflow {
    --max-lines: 13;
  }
}
.storefrontDescription__content.truncate-overflow--withShadow:after {
  content: "";
  height: 30px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 100%
  );
}
.storefrontDescription__content p {
  margin: 0 0 1rem;
}
.storefrontDescription__content p:last-child {
  margin: 0;
}
.storefrontDescription__link {
  cursor: pointer;
  font-weight: 600;
  margin-top: 0.5rem;
  text-decoration: underline;
  display: block;
}
.storefrontSummary__socialMedia {
  grid-area: socialMedia;
  padding-top: 1rem;
}
.vendorSocialMedia {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto;
}
@media (min-width: 768px) {
  .vendorSocialMedia {
    grid-area: 3 / 1 / 3 / 4;
    grid-template-columns: auto 1fr;
  }
}

.vendorSocialMedia__title {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #6c6c6c;
}
@media (min-width: 768px) {
  .vendorSocialMedia__title,
  .vendorSocialMedia__linksContainer {
    margin-bottom: 0;
  }
}

.vendorSocialMedia__linksContainer {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .vendorSocialMedia__title,
  .vendorSocialMedia__linksContainer {
    margin-bottom: 0;
  }
}
.vendorSocialMedia__link {
  margin-right: 2rem;
  line-height: 0;
}
@media (min-width: 1024px) {
  .vendorSocialMedia__link {
    margin-right: 1.5rem;
  }
}
.vendorSocialMedia__link:last-child {
  margin-right: 0;
}
.storefrontFaqs {
  padding-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .storefrontFaqs {
    padding-bottom: 3.5rem;
  }
}
.storefrontFaqs__title {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}
.storefrontFaqs__item {
  border-bottom: 1px solid #d9d9d9;
  padding: 1rem 0;
}

.storefrontFaqs__item:last-child {
  border-bottom: none;
}

.storefrontFaqs__itemTitle {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  padding: 0 0 0.25rem;
}

.storefrontFaqs__itemContent {
  columns: 250px 3;
  column-gap: 2rem;
}

.storefrontFaqs__itemBlock {
  column-span: all;
  word-break: break-word;
}

.storefrontFaqs__itemList {
  display: flex;
  break-inside: avoid;
  padding: 4px 0;
}

.storefrontFaqs__itemList .svgIcon {
  display: flex;
  flex: 0 0 auto;
  margin: 3px 0.5rem 0 0;
}
.storefrontFaqs__button {
  margin: 1rem auto 0;
}

.storefrontFaqs:not(.all) .storefrontFaqs__item:nth-child(4) {
  border-bottom: none;
}

.storefrontFaqs:not(.all) .storefrontFaqs__item:not(:nth-child(-n + 4)) {
  display: none;
}

.storefrontFaqs.all .storefrontFaqs__button {
  display: none;
}

.storefrontFaqs__dressItemTitle:not(:first-child) {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .storefrontFaqs {
    padding-bottom: 3.5rem;
  }
}
@media (min-width: 480px) {
  .button:not(.button--block) {
    width: auto;
  }
}
.storefrontReviews {
  padding-bottom: 2.5rem;
}

.storefrontReviewsHeader {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .storefrontReviews {
    padding-bottom: 3.5rem;
  }

  .storefrontReviewsHeader {
    margin-bottom: 0;
  }
}
.storefrontReviewsHeader__title {
  font-size: 1.25rem;
  line-height: 1.5625rem;
}

@media (min-width: 768px) {
  .storefrontReviewsHeader__title {
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin: 0.5rem 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .storefrontReviewsHeader__title {
    margin: 1rem 0 1.5rem;
  }
}

.storefrontReviewsSummaryCTA__title {
  font-size: 1.5rem;
  margin: 0;
}
.storefrontReviewsSummaryCTA {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  display: flex;
  margin: 1.5rem 0;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .storefrontReviewsSummaryCTA {
    flex-direction: row;
    gap: 5rem;
  }
}
.storefrontReviewsSummaryCTA__score {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  min-width: 35%;
}
.storefrontReviewsSummaryCTA__scoreText {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
}

.storefrontReviewsSummaryCTA__scoreValue {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.storefrontReviewsSummaryCTA__label {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .storefrontReviewsSummaryCTA__label {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}

.storefrontReviewsSummaryCTA__label span {
  font-size: 2rem;
  line-height: 2.25rem;
}

.storefrontReviewsSummaryCTA__stars {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}

.storefrontReviewsSummaryCTA__stars i {
  fill: #fabb00;
  width: 1.5rem;
  height: 1.5rem;
}

.storefrontReviewsSummaryCTA__starsText {
  margin-top: 0.5rem;
  color: #6c6c6c;
}

.storefrontReviewsSummaryCTA__button {
  display: initial;
  width: 319px;
}

@media (min-width: 768px) {
  .storefrontReviewsSummaryCTA {
    flex-direction: row;
    gap: 5rem;
  }
}
.sectionLeadTile {
  display: grid;
  align-items: center;
  position: relative;
  margin-top: 2.5rem;
  padding: 1.25rem 1rem;
  box-shadow: 0 2px 8px #00000026;
  border-radius: 0.5rem;
  grid-template-columns: 4rem auto;
  grid-column-gap: 0.88rem;
  transition: box-shadow 0.2s;
  cursor: pointer;
}
.sectionLeadTile__iconContainer {
  width: 4rem;
  height: 4rem;
  background-color: #e9f0fc;
  border-radius: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionLeadTile__icon {
  width: 3rem;
  height: 3rem;
}
.sectionLeadTile__title {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.sectionLeadTile__link {
  color: #19b5bc;
  font-weight: 600;
}
.sectionLeadTile__link,
.link,
a {
  transition: color 0.15s;
}
.sectionLeadTile:hover {
  box-shadow: 0 5px 12px #0003;
}
.storefrontMap {
  padding-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .storefrontMap {
    padding-bottom: 3.5rem;
  }
}

.storefrontMap__title {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .storefrontMap__title {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}
.storefrontAddresses__itemActive .storefrontAddresses__map {
  margin-bottom: 1rem;
}
.storefrontAddresses {
  color: #222;
}
.storefrontAddresses__infoActive {
  padding: 1rem 0.7rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.storefrontAddresses__icon {
  top: 19px;
  left: 12px;
  margin-right: 5px;
  position: absolute;
}
.storefrontAddresses__header {
  position: relative;
  padding-left: 1.7rem;
}
.storefrontAddresses__content {
  margin-left: 1.7rem;
  word-break: break-word;
}
.storefrontReviewsTileSubpage {
  border-bottom: 1px solid #d9d9d9;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
  display: grid;
  grid-gap: 0 1rem;
  grid-template-columns: 56px 1fr;
  grid-template-areas:
    "avatar info"
    "avatar ratingAction"
    "content content";
}

@media (min-width: 480px) {
  .storefrontReviewsTileSubpage {
    grid-gap: 0 2rem;
    grid-template-columns: 80px minmax(0, 1fr);
    grid-template-areas:
      "avatar info"
      "avatar ratingAction"
      "avatar content";
  }
}
.storefrontReviewsTileSubpage__avatar {
  grid-area: avatar;
  height: 56px;
  width: 56px;
  margin-bottom: 1.5rem;
}
@media (min-width: 480px) {
  .storefrontReviewsTileSubpage__avatar {
    height: 80px;
    width: 80px;
  }
}
.avatar {
  height: 100%;
  width: 100%;
}
.storefrontReviewsTileInfo {
  grid-area: info;
  font-weight: 600;
  word-break: break-word;
}
.storefrontReviewsTileInfo__date {
  font-weight: 400;
  color: #6c6c6c;
}
.storefrontReviewsTileSubpage__ratingAction {
  grid-area: ratingAction;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.storefrontReviewsTileInfo__date {
  font-weight: 400;
  color: #6c6c6c;
}
.rating {
  display: inline-block;
  text-align: left;
}

.rating__picture {
  display: inline-block;
  vertical-align: middle;
  height: 1rem;
  line-height: 0;
  background-repeat: no-repeat;
}
.rating--stars .rating__picture {
  background-position-y: 0;
  width: 80px;
}
.rating--stars .rating__progress {
  background-position-x: -80px;
}
.storefrontReviewsList {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.storefrontReviewsListFooter__more {
  margin-top: 2rem;
  display: flex;
  gap: .5rem;
  align-items: center;
}
