@import "actiontext.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* default style */
:root, ::backdrop{
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --standard-border-radius: 5px;
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --border: #898ea4;
    --accent: #0d47a1;
    --accent-hover: #1266e2;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #fd3;
    --disabled: #efefef;
}

header>nav a, header>nav a:visited {
    border: 1px solid var(--border);
    border-radius: var(--standard-border-radius);
    padding: .1rem 1rem;
    text-decoration: none;
    display: inline-block;
}


/* custom style */
.turbo-progress-bar {
  height: 5px;
  background-color: green;
}

[data-controller="dropdown"] {
  @apply inline-block relative;
}

[data-controller="dropdown"] > [role="button"] {
  @apply cursor-pointer list-none appearance-none;
}

[data-controller="dropdown"] > [role="menu"] {
  @apply absolute right-0 origin-top-right z-10 mt-2 w-48 rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
}

[data-controller="dropdown"]:not([open]) > *:not([role="button"]) {
  display: none;
}

.flash {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 4;
  backface-visibility: hidden;
  filter: blur(0);
  max-width: 90%;
  top: 10%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

.flash__body {
  padding: 6px;
  text-align: center;
  border-radius: 4px;
}

.flash__body--error, .flash__body--alert {
  background-color: rgb(166, 22, 55);
  color: rgb(255, 255, 251);
}

.flash__body--success, .flash__body--notice {
  background-color: rgb(35, 166, 80);
  color: rgb(255, 255, 251);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.animation-fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 0.25s;
}

.animation-fadeOutUp {
  animation-name: fadeOutUp;
  animation-duration: 0.25s;
}

.is-invalid:not(label) {
  @apply border-red-500;
}
