/*!
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

@import "tailwindcss.css";
@import "actiontext.css";
@import "direct_upload.css";
@import "pagy.css";

/* default style */
:root,
::backdrop {
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898ea4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #fd3;
  --disabled: #efefef;

  font-family: Poppins, var(--sans-font);
}

/* custom style */
.turbo-progress-bar {
  height: 5px;
  background-color: green;
}

[data-controller="dropdown"] {
  @apply inline-block relative;
}

[data-controller="dropdown"] > [role="button"] {
  @apply cursor-pointer list-none appearance-none;
}

[data-controller="dropdown"] > [role="menu"] {
  @apply absolute right-0 origin-top-right z-10 mt-2 w-48 rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
}

[data-controller="dropdown"]:not([open]) > *:not([role="button"]) {
  display: none;
}

.flash {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 4;
  backface-visibility: hidden;
  filter: blur(0);
  max-width: 90%;
  top: 65px;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

.flash__body {
  padding: 6px;
  text-align: center;
  border-radius: 4px;
}

.flash__body--error,
.flash__body--alert {
  background-color: rgb(166, 22, 55);
  color: rgb(255, 255, 251);
}

.flash__body--success,
.flash__body--notice {
  background-color: rgb(35, 166, 80);
  color: rgb(255, 255, 251);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.animation-fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 0.25s;
}

.animation-fadeOutUp {
  animation-name: fadeOutUp;
  animation-duration: 0.25s;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoom-in 0.2s ease-out;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slide-in-right 0.2s ease-out;
}

.is-invalid:not(label) {
  @apply border-red-500;
}

.listing {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-row-gap: 1rem;
  grid-template-areas:
    "listingHeading"
    "listingArticlesTitle"
    "listingContent"
    "listingSidebar"
    "articlesMoreIdeas";
}
@media (min-width: 1024px) {
  .listing {
    grid-template-columns: minmax(0, 3fr) 300px;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-areas:
      "listingHeading listingHeading"
      "listingArticlesTitle listingArticlesTitle"
      "listingContent listingSidebar"
      "articlesMoreIdeas articlesMoreIdeas";
  }
}
.listing .listingHeading {
  grid-area: listingHeading;
}
.listing .listingArticlesTitle {
  grid-area: listingArticlesTitle;
}
.articleTile__preTitle {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #6c6c6c;
  margin-top: 0.5rem;
}
.articleTile__title {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .articleTile__title {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}

.articleTile__footer {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-top: 0.5rem;
  color: #6c6c6c;
}
.articlesArticleHeading__categoryName {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  grid-area: category;
  color: #6c6c6c;
}
.articlesArticleHeading__category {
  grid-area: categoryTag;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    "tag"
    "category";
  align-items: center;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .articlesArticleHeading__category {
    grid-area: categoryTag;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "category tag";
    grid-template-columns: auto auto 1fr;
  }
}

.articlesArticleHeading__title {
  font-size: 1.625rem;
  line-height: 2.125rem;
  font-family: ProximaNova Condensed, ProximaNovaCondensed-fallback-Arial,
    sans-serif;
  font-weight: 800;
  grid-area: title;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .articlesArticleHeading__title {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
}

.articlesArticleHeading__description {
  grid-area: description;
  font-style: italic;
}
@media (min-width: 768px) {
  .articlesArticleHeading__description {
    margin-bottom: 1rem;
  }
}
.articlesArticleHeading__author {
  grid-area: author;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.articlesArticleHeading__authorImage {
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  margin-right: 0.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.articlesArticleHeading__date {
  display: inline-block;
  margin-right: 1rem;
  color: #8c8c8c;
}
@media (min-width: 768px) {
  .articlesArticleHeading__date {
    white-space: nowrap;
    margin-right: 2rem;
  }
}

.articlesArticleHeading__counters {
  display: inline-block;
  vertical-align: bottom;
}
