<% if idea.is_paid? %>
  <p>
    Already paid.
  </p>
<% else %>
  <%= link_to 'Want to publish? Click here to pay for the post',
              pay_vendor_idea_path(idea),
              data: { turbo_method: :post, turbo_confirm: "This will cost you 1 post limit. Are you sure to continue?" },
              class: "relative rounded cursor-pointer whitespace-nowrap w-auto tracking-[0.2px] bg-yellow-300 px-3 py-1.5" %>
<% end %>
