<h1>Editing idea</h1>

<%= render "form", idea: @idea, topic_categories: @topic_categories %>

<div>
  <%= link_to "Public preview", vendor_idea_path(@idea) %> |
  <%= link_to "Back to ideas", vendor_ideas_path %>
</div>
