<% content_for :body do %>
  <div class="min-h-screen bg-gray-100 flex flex-col justify-center py-5 sm:px-6 lg:px-8">
    <div class="w-fit mx-auto mb-8">
      <%= link_to root_path, class: "flex flex-shrink-0 items-center gap-1" do %>
        <img class="h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
        <span class="sm:hidden md:inline font-medium text-lg">Wedding Vista</span>
      <% end %>
    </div>

    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/plain" %>
